.wrapperAll {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: 'EB Garamond', serif;
}

.wrapperAll h1{
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
}

.wrapperAll_wrapperModules {
  width: 40%;
  height: 35%;
}

.wrapperAll_wrapperModules--module {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 45%;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 3px solid #efefef;
}

.wrapperAll_wrapperModules--module h2{
  font-size: 1.2rem;
  padding: .5rem;
}

.wrapperAll_wrapperModules--module p {
  width: 50%;
  padding: .5rem;
  text-align: center;
  border: 3px solid #f76cb2;
}

.wrapperAll_wrapperModules--module button{
  padding: .4rem;
  border-radius: .2rem;
  border: 2px solid #7f7f7f;
}

@media ( max-width: 768px){
  .wrapperAll_wrapperModules--module p {
    width: 100%;
  }
}